<a href="https://colab.research.google.com/github/dubeyshubham786/66daysofdata/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Day 2**

## *Dictionary in Python*

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
# Creating dictionary in python

thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# We can also print the values of dictionary using keys

print(thisdict['brand'])
print(thisdict['year'])

Ford
1964

In [ ]:
print(type(thisdict))

<class 'dict'>

In [ ]:
print(len(thisdict))

3

In [ ]:
# Dictionary does not have duplicates values
# If it does then the dictionary value will overwrite each other
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Methods in dictionary

In [ ]:
print(thisdict.get("brand"))

Ford

In [ ]:
print(thisdict.keys())

dict_keys(['brand', 'model', 'year'])

In [ ]:
print(thisdict.values())

dict_values(['Ford', 'Mustang', 2020])

In [ ]:
# Adding new item in dictionary

thisdict["color"] = "white"

In [ ]:
print(thisdict.keys())

dict_keys(['brand', 'model', 'year', 'color'])

### The items() method will return each item in a dictionary, as tuples in a list.

In [ ]:
print(thisdict.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'white')])

In [ ]:
# we can change the values of this dictionary 

thisdict['year'] = 2022

In [ ]:
print(thisdict.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2022), ('color', 'white')])

### Check if Key Exists
To determine if a specified key is present in a dictionary use the in keyword:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

### Update Dictionary
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2022})

In [ ]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

### Remove Dictionary Items

1. The pop() method removes the item with the specified key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
# Using popitem method
#The popitem() method removes the last inserted item:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

2. The del keyword removes the item with the specified key name:

In [ ]:
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: ignored

3. The clear() method empties the dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [ ]:
#  Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

## If Else statement

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

### Elif
The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

### Else
The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

If statement and If Else statement in a single line of code.

In [ ]:
if a > b: print("a is greater than b")

a is greater than b

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

## Indentation 

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: ignored

## *Loops In Python*

### In Python we have mainly two different types of loops :


* <u>while loop</u> : With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
# print i as long as i is less than 6
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

###The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [ ]:
# Exit the loop when i is 3:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

### The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### The else Statement
With the else statement we can run a block of code once when the condition no longer is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### for loop in python

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
# Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

#### The range function

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
# Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

The else block will NOT be executed if the loop is stopped by a break statement.

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

### Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### The pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
  pass