<a href="https://colab.research.google.com/github/dubeyshubham786/66daysofdata/blob/main/Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Python Datatypes***

Python has different datatypes like

Text Type:	**str**

Numeric Types:	**int**, **float**, **complex**

Sequence Types:	**list**, **tuple**

Mapping Type:	**dict**

Set Types:	**set**

Boolean Type:	**bool**

Binary Types:	**bytes**, **bytearray**, **memoryview**

## First let us see basic datatypes like integer and float and their different function.

In [ ]:
# FLOOR DIVISION
# It will give the value of quotients and represented by '//'
5//2

2

In [ ]:
8//4

2

In [ ]:
# MODULUS 
# It will give the remainder and expressed by percentage symbol
5%2

1

In [ ]:
8%4

0

In [ ]:
# Scientific Notation for representing large numbers
4E6

4000000.0

In [ ]:
# POWER operator
2**2

4

##  Rules for naming a variable in Python

* Variables names must start with a letter or an underscore like _ product , product_


* The remainder of your variable name may consist of letters, numbers and underscores


* spacy1, pyThon,machine_learning are some valid variable names


* Names are case sensitive.


* case_sensitive, CASE_SENSITIVE, and Case_Sensitive are each a different variable.

# **Boolean variable**

It is simply True and False variable used in python. Represented by double equal to sign.

In [ ]:
2==3

False

In [ ]:
14==14

True

## Comparison Operators 

* These operators will allow us to compare variables and output a Boolean value (True or False). 


* If you have any sort of background in Math, these operators should be very straight forward.


* First we'll present a table of the comparison operators and then work through some examples:


* In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [ ]:
# Not Equal to is represented by '!='
2!=0  # 2 is not equal 0 which is true.

True

In [ ]:
# Less than equal to and greater than and equal to is represented by
2>=3  # 2 is greater than equal to3 which is False

False

In [ ]:
3%5

3

# ***STRINGS***

String is represented by single character or double invented comma.

In [ ]:
# LEN function in string is use to get the number of characters present in string.
a = "Geometry"

In [ ]:
len(a)

8

### <u> String Indexing </u>

* We know strings are a sequence, which means Python can use indexes to call parts of the sequence.


* A string index refers to the location of an element present in a string.


* The indexing begins from 0 in Python. 


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.


* In Python, we use brackets <code>[]</code> after an object to call its index.

In [ ]:
string  = 'Principal Component Analysis!'

In [ ]:
print(string)

Principal Component Analysis!

In [ ]:
string[4]

'c'

In [ ]:
string[:15]

'Principal Compo'

In [ ]:
string[3:]

'ncipal Component Analysis!'

In [ ]:
string[-1]

'!'

In [ ]:
string[:-1]

'Principal Component Analysis'

In [ ]:
string[-1:]

'!'

In [ ]:
string[::2] # Gives string with 2 jump

'PicplCmoetAayi!'

In [ ]:
# Concatenate strings!

string1='abc'
string2='def'
print(string1 + ' ' + string2 )

abc def

In [ ]:
# Concatenate strings!

string1='abc'
string2='def'
num = 4
print(string1 + str(4) + string2)

abc4def

In [ ]:
letters = 'wubba'
letters*3

'wubbawubbawubba'

In [ ]:
# Different function in string
st = "Machine Learning"

In [ ]:
st.upper()

'MACHINE LEARNING'

In [ ]:
st.lower()

'machine learning'

In [ ]:
st.count('M')

1

In [ ]:
st.count("a")

2

In [ ]:
# Replace funcion 
print(st)

Machine Learning

In [ ]:
st.replace(' ', '-')

'Machine-Learning'

# ***List***

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3,4]

In [ ]:
print(my_list)

[1, 2, 3, 4]

In [ ]:
# List function

new_list = [6, 9, 1, 3, 5.5]

In [ ]:
min(new_list)

1

In [ ]:
max(new_list)

9

In [ ]:
len(new_list)

5

In [ ]:
sum(new_list)

24.5

### <code>sorted()</code>


* <code>sorted()</code> function returns the sorted list 


* <code>sorted()</code> function takes reverse boolean as an argument


* <code>sorted()</code> function only works on a list with similar data types

In [ ]:
print(new_list)

[6, 9, 1, 3, 5.5]

In [ ]:
sorted(new_list)

[1, 3, 5.5, 6, 9]

In [ ]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [ ]:
sorted(new_list)

['Argue', 'Burglar', 'Linear', 'Parent', 'shape']

In [ ]:
print(new_list)

['Argue', 'Burglar', 'Parent', 'Linear', 'shape']

### <code>append()</code> 

* Use the <code>append()</code> method to permanently add an item to the end of a list.


* <code>append()</code> method takes the element which you want to add to the list as an argument

In [ ]:
# Create a new list
my_list = [1,2,3,1,1,1,3,10,5,8]

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8]

In [ ]:
# Append to the end of the list
my_list.append('Append me!')

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!']

### <code>extend()</code>

* Use the <code> extend()</code> method to merge a list to an existing list


* <code> extend()</code> method takes a list or any iterable(don't worry about it now) as an argument.


* Quite helpful when you have two or more lists and you want to merge them together

In [ ]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!']

In [ ]:
my_list.extend(['Wubba','Lubba','Dub Dub'])

### <code>pop()</code>

* Use <code>pop()</code> to "pop off" an item from the list. 


* By default <code>pop()</code> takes off the element at the last index, but you can also specify which index to pop off. 


* <code>pop()</code> takes the index as an argument and returns the elenent which was popped off.

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Wubba', 'Lubba', 'Dub Dub']

In [ ]:
my_list.pop()

'Dub Dub'

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Wubba', 'Lubba']

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the list. 


* By default <code>remove()</code> removes the specified element from the list.


* <code>remove()</code> takes the element as an argument.

In [ ]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Wubba', 'Lubba']

In [ ]:
# Remove the element which you want to 
my_list.remove('Lubba')

In [ ]:
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Wubba']

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in the list

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Wubba']

In [ ]:
my_list.count('Wubba')

1

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Wubba']

In [ ]:
my_list.index('Wubba')

11

In [ ]:
my_list.index(3)

2

### <code>sort()</code>

* Use <code>sort()</code> to sort the list in either ascending/descending order


* The sorting is done in ascending order by default


* <code>sort()</code> method takes the reverse boolean as an argument


* <code>sort()</code> method only works on a list with elements of same data type

In [ ]:
new_list = [6, 9, 1, 3, 5]

In [ ]:
# Use sort to sort the list (this is permanent!)
new_list.sort()

In [ ]:
print(new_list)

[1, 3, 5, 6, 9]

In [ ]:
# Use the reverse boolean to set the ascending or descending order
new_list.sort(reverse=True)
print(new_list)

[9, 6, 5, 3, 1]

### <code>reverse()</code>

* <code>reverse()</code> method reverses the list

In [ ]:
my_list = [1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Lubba', 'Dub Dub']

In [ ]:
print(my_list)

[1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Lubba', 'Dub Dub']

In [ ]:
print(my_list.reverse())

None

## Nested Lists

* A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=['b','a','d']
lst_3=[7,8,9]

# Make a list of lists to form a matrix
list_of_lists = [lst_1,lst_2,lst_3]

In [ ]:
print(list_of_lists)

[[1, 2, 3], ['b', 'a', 'd'], [7, 8, 9]]

In [ ]:
type(list_of_lists)

list

# ***TUPLES***



* In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. 


* You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 


## Constructing Tuples

* The construction of a tuples use <code>()</code> with elements separated by commas.

In [ ]:
# Create a tuple
my_tuple = (1,'a',3)

In [ ]:
print(my_tuple)

(1, 'a', 3)

In [ ]:
type(my_tuple)

tuple

In [ ]:
my_list = [1]

In [ ]:
type(my_list)

list

In [ ]:
my_tuple = (1,)

In [ ]:
type(my_tuple)

tuple

In [ ]:
len(my_tuple)

1

## Indexing 

Indexing in tuple is similar to list.


* A tuple index refers to the location of an element in a tuple.


* Remember the indexing begins from 0 in Python. 


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

In [ ]:
# Can also mix object types 
another_tuple = ('one',2, 4.53, 'asbc')

In [ ]:
print(another_tuple)

('one', 2, 4.53, 'asbc')

In [ ]:
print(another_tuple[0])

one

In [ ]:
print(another_tuple[-1])

asbc

In [ ]:
print(another_tuple[:])

('one', 2, 4.53, 'asbc')

In [ ]:
print(another_tuple[2:])

(4.53, 'asbc')

In [ ]:
print(another_tuple[:-1])

('one', 2, 4.53)

In [ ]:
print(another_tuple[::-1])

('asbc', 4.53, 2, 'one')

## Tuple Method

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

In [ ]:
my_tuple =(1,2,3,4,5,6,1,1,2)

In [ ]:
my_tuple.index(2)

1

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in a tuple

In [ ]:
# Use .count to count the number of times a value appears
my_tuple.count(2)

2

### <code>zip()</code>


* <code>zip()</code> function takes multiple lists as arguments and zips them together 


* This function returns a list of n-paired tuples where n is the number of lists being zipped

In [ ]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahmaputra']

In [ ]:
zip(city_list, river_list)

In [ ]:
city_and_their_rivers = list(zip(city_list,river_list))

In [ ]:
list(zip(city_list,river_list))

[('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahmaputra')]

# **SET**


* Sets are an unordered collection of *unique* elements. We can construct them by using the <code>set()</code> function.


* Sets cannot have duplicates.


* Sets are mutable just like lists.


* You can create a non-empty set with curly braces by specifying elements separated by a comma.

In [ ]:
# Create an empty set 
empty_set = set()

In [ ]:
type(empty_set)

set

In [ ]:
# Create a non-empty set within curly braces
non_empty_set = {1,6,4,'abc'}

In [ ]:
# But we can have tuples as set elements, they are immutable
my_set = {1, 2, (2,3)}

In [ ]:
print(my_set)

{1, 2, (2, 3)}

### <code>add()</code> 


*  <code>add()</code> method adds an element to a set


* This method takes the element to be added as an argument

In [ ]:
# We add to sets with the add() method
my_set = set()
my_set.add('a')

In [ ]:
print(my_set)

{'a'}

In [ ]:
# Add a different element
my_set.add(2)

In [ ]:
print(my_set)

{'a', 2}

### <code>update()</code>

* <code>update()</code> method helps to add multiple elements to a set

In [ ]:
my_set = {5,7,9,3}

In [ ]:
# add multiple elements
my_set.update([2, 3, 4])
print(my_set)

{2, 3, 4, 5, 7, 9}

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the set. 


* By default <code>remove()</code> removes the specified element from the set.


* <code>remove()</code> takes the element as an argument.

In [ ]:
non_empty_set = {1,5,6,73,2}

In [ ]:
non_empty_set.remove(5)

In [ ]:
non_empty_set

{1, 2, 6, 73}

In [ ]:
non_empty_set.remove(45)

KeyError: ignored

* <code>remove()</code> throws an error when we try to remove an element which is not present in the set

### <code>union()</code>


* <code>union()</code> method returns the union of two sets


* Also denoted by the operator <code>|</code>

In [ ]:
# Initialize sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A

{1, 2, 3, 4, 5}

In [ ]:
# Also denoted by the operator |
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

### <code>intersection()</code>


* <code>intersection()</code> method returns the intersection of two sets


* Also denoted by the operator <code>&</code>

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
A.intersection(B)

{4, 5}

In [ ]:
# Also denoted by the operator &
A & B

{4, 5}

### <code>difference()</code>


* <code>difference()</code> method returns the difference of two sets


* Difference of the set <code>B</code> from set <code>A</code> i.e, <code>(A - B)</code> is a set of elements that are only in <code>A</code> but not in <code>B</code>


* Also denoted by the operator <code>-</code>

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
A.difference(B)

{1, 2, 3}

In [ ]:
# Also denoted by the operator -
A - B

{1, 2, 3}

In [ ]:
B.difference(A)

{6, 7, 8}

In [ ]:
B - A

{6, 7, 8}

### <code>symmetric_difference()</code>


* <code>symmetric_difference()</code> method returns the set of elements in A and B but not in both (excluding the intersection)


* Also denoted by the operator <code>^</code>

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [ ]:
A^B

{1, 2, 3, 6, 7, 8}